# https://docs.gitlab.com/ce/ci/yaml/README.html

image: registry.gitlab.com/teavana/kungfu/builder:ubuntu18

stages:
- unit test
- integration test
- system test

job1:
  stage: unit test

  script:
  - | # C++ test
    ./configure
    make
    make test

  - | # Go test
    ./scripts/tests/go-test.sh

job2:
  stage: integration test
  script:
  - |
    ./scripts/tests/run-integration-tests.sh

job3:
  stage: system test

  before_script:
  - |
    DATA_DIR=$HOME/var/data \
    DATA_MIRROR_PREFIX=https://kungfudata.blob.core.windows.net/data \
    ./scripts/download-mnist.sh

  script:
  - |
    cmake --version
    pip3 install -vvv -U .
    ./scripts/go-install.sh
  - |
    ./examples/mnist_mlp.py
  - |
    np=2
    H=127.0.0.1:$np
    ./bin/kungfu-prun -np $np -H $H -timeout 60s \
      python3 ./examples/mnist_mlp.py \
        --use-async-sgd=1 \
        --n-epochs=1 \
        --batch-size=5000 \
        --model-name=mnist.slp
