__pycache__
.DS_Store
.idea
*_generated.h
*.dylib
*.json
*.log
*.npz
*.o
*.out
*.pb
*.so
*.swp
*.tar
*.tar.bz2
*.tar.gz
*.test
*.whl
.vscode
/3rdparty
/bin
/checkpoints
/cmake-build
/external
/go-output
/gopath
/lib
/logs
/release
ansible_hosts.txt
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
env
experiment-results.txt
hosts.txt
kungfu.cbp
/Makefile
Makefile.auto
src/tensorflow.cmake
tensorflow-prefix
tensorflow-repo-prefix
Testing/
venv
*.pyc
go.sum
.vscode
mnist
