*.dylib
*.egg-info
*.json
*.log
*.npz
*.o
*.out
*.pb
*.pyc
*.so
*.swp
*.tar
*.tar.bz2
*.tar.gz
*.test
*.whl
*_generated.h
.DS_Store
.idea
.vscode
/3rdparty
/Makefile
/bin
/build
/cmake-build
/data
/external
/go
/go-output
/gopath
/lib
/logs
/release
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile.auto
Testing/
__pycache__
ansible_hosts.txt
checkpoints
cmake_install.cmake
docker-compose.yaml
experiment-results.txt
go.sum
hosts.txt
install_manifest.txt
kungfu.cbp
venv
*.tf_record
*.list.txt
*.idx.txt
