# https://docs.gitlab.com/ce/ci/yaml/README.html

image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18

stages:
- test

unit test:
  stage: test

  script:
  - | # C++ test
    ./configure --build-tests
    make
    make test

  - | # Go test
    ./scripts/tests/run-go-tests.sh

integration test:
  stage: test
  script:
  - |
    ./configure --build-tests
    make
  - |
    ./scripts/tests/run-integration-tests.sh

system test:
  stage: test

  before_script:
  - |
    DATA_DIR=$HOME/var/data \
    ./scripts/download-mnist.sh

  script:
  - |
    cmake --version
    pip3 install -vvv -U .
  - |
    ./scripts/tests/run-train-tests.sh
    ./bin/kungfu-prun -np=4 -H 127.0.0.1:4 python3 ./tests/python/test_p2p.py

python2 test:
  stage: test

  before_script:
  - apt install -y python python-pip
  - pip install tensorflow
  - |
    DATA_DIR=$HOME/var/data \
    ./scripts/download-mnist.sh

  script:
  - cmake --version
  - which python
  - python --version
  - pip install -vvv -U .
  - |
    PYTHON=$(which python) \
    ./scripts/tests/run-train-tests.sh
