env*
__pycache__
.DS_Store
.idea
.vscode
*_generated.h
*.dylib
*.json
*.log
*.npz
*.o
*.out
*.pb
*.pyc
*.so
*.swp
*.tar
*.tar.bz2
*.tar.gz
*.test
*.whl
/3rdparty
/bin
/checkpoints
/cmake-build
/external
/go
/go-output
/gopath
/lib
/logs
/Makefile
/release
ansible_hosts.txt
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
env
experiment-results.txt
go.sum
hosts.txt
kungfu.cbp
Makefile.auto
src/tensorflow.cmake
tensorflow-prefix
tensorflow-repo-prefix
Testing/
venv
