# https://docs.gitlab.com/ce/ci/yaml/README.html

image: registry.gitlab.com/lsds-kungfu/image/builder:ubuntu18

stages:
- unit test
- integration test
- system test

job1:
  stage: unit test

  script:
  - | # C++ test
    ./configure --build-tests
    make
    make test

  - | # Go test
    ./scripts/tests/run-go-tests.sh

job2:
  stage: integration test
  script:
  - |
    ./configure
    make
  - |
    ./scripts/tests/run-integration-tests.sh

job3:
  stage: system test

  before_script:
  - |
    DATA_DIR=$HOME/var/data \
    ./scripts/download-mnist.sh

  script:
  - |
    cmake --version
    pip3 install -vvv -U .
    ./scripts/go-install.sh
  - |
    ./scripts/tests/run-train-tests.sh
